body {
    background-color: black;
    background-image: url(assets/batman-na-cidade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
img {
    height: 400px;
    margin: 10px;
    border-radius: 5px;
}
footer p {
    color: rgb(201, 178, 104);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(201, 178, 104);
    font-size: 50px;
    padding: 30px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    background-color: rgb(107, 107, 107);
    border-radius: 30px;
    width: 1000px;
    padding: 50px;
    margin: 15px;
}
button {
    background-color: rgb(199, 198, 198);
    border: none;
    border-radius: 8px;
    width: 130px;
    height: 35px;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div-texto {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}